<div class="shortcodes_livePanels">
  <div class="shortcodes_livePanels_panels">
    <div class="shortcodes_livePanels_youtube">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/EVUCSrj83uM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="shortcodes_livePanels_youtube">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/w2m4u3wruJY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="shortcodes_livePanels_panels">
    <div class="shortcodes_livePanels_timeline">
      <a
        class="twitter-timeline"
        data-width="100%"
        data-height="500"
        href="https://twitter.com/gocon_staff?ref_src=twsrc%5Etfw"
        >Tweets by gocon_staff</a
      >
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </div>
</div>
